.navigation {
  background-color: rgb(1, 43, 80);
  position: sticky;
}
.navbar-text {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: #ffff;
  padding-right: 10px;
  cursor: pointer;
}
.logo {
  width: 170px;
  height: 60px;
}
