.title {
  text-transform: uppercase;
  color: #ffff;
}
.table {
  font-family: 'Play', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  background-color: #051d31;
}
tbody tr:hover {
  background-color: #ffff;
  color: black;
}
.list li {
  color: #ffff;
  text-transform: uppercase;
  font-size: 13px;
}
.description {
  color: #ffff;
  font-size: 13px;
  font-family: 'Play', Arial, Helvetica, sans-serif;
}
.title h6 {
  text-transform: none;
}
