.login-form {
  margin: auto;
  border: 1px solid rgb(102, 102, 102);
}
.login-label {
  color: #ffff;
  text-transform: uppercase;
  font-size: 15px;
}
.login-button {
  background-color: rgb(79, 197, 79);
  color: #ffff;
  text-transform: uppercase;
}
.register-button {
  background-color: rgb(23, 190, 196);
  color: #ffff;
  text-transform: uppercase;
}
.text-right a {
  text-decoration: none;
  color: #ffff;
  font-size: 14px;
}
